:root{
    --cardBackground: rgb(192,192,192, .8);
    --background: black;
    --shadow: blue;
    --myName: red;
    --textColor: black;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
    width: 100vw;
    background: var(--background);
}

body::-webkit-scrollbar {
width: 0px;
background: transparent;
}

.greeting-title{
    font-size: 3vh!important;
    width: 80vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px var(--shadow);
    color: var(--textColor);
    background: var(--cardBackground); /*NEED VARIABLE HERE*/
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 1em;
    scale:0; /*ANIMATION PORTION*/
    animation-name: loadIn;
    animation-delay: .5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transition: .5s ease;
}
.greeting-title:hover{
    box-shadow: 10px 10px 10px red;
}


.greeting-title > h1 > span{
    color: blue;
    transition: .5s ease-in-out;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
}

.show-projects{
    width: 70vw;
    height: 10vh;
    font-size: 20px;
    font-weight: bold;
    border-radius: 1em;
    box-shadow: 10px 10px 10px var(--shadow);
    color: textColor;
    scale:0; /*ANIMATION PORTION*/
    animation-name: loadIn;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transition: .5s ease-in-out;
}
.show-projects:hover{ /*NEED TO PLAY WITH THIS AFTER REFACTOR*/
    cursor: pointer;
    background: grey;
    box-shadow: 10px 5px 5px red;
    color: white;
}

.projects{
    /*border-radius: 1em;*/
    padding: 1em;
    background: var(--cardBackground);
    margin: 2em 1em 2em 1em;
    border: 1px solid black;
    box-shadow: 10px 10px 10px var(--shadow);
    height: 40vh;
    width: 80vw;
    scale: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .5s ease;
}
.projects:hover{
    box-shadow: 10px 10px 10px red;
}
.projects:nth-child(1){
    display: none;
}
.projects > a{
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    border-radius: 1em;
    background: blue;
    border: 2px solid black;
    text-decoration: none;
    padding: 1em;
    transition: .5s ease;
}
.projects > a:hover{
    background: red;
    color: black;
}
.projects > img{
    height: 100%;
    width: 100%;
}
.projects > h5{
    font-size: 4vh;
    color: darkblue;
}

@keyframes loadIn {
    from{
        scale: 0;
    }
    to{
        scale:1;
    }
}


@media screen and (width >= 800px){
    .projects{
        width: 35vw!important;
    }
    .projects:nth-child(1){
        display: flex;
    }
    .mobile-note{
        display: none;
    }
}