*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    background: #1b73e33b;
}

body::-webkit-scrollbar {
width: 0px;
background: transparent;
}

.greeting-title{
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    color: black;
    background: rgb(192,192,192, .8);
    text-align: center;
    padding: 5em;
    margin: 2em 5em 0 5em;
    border-radius: 1em;
}
.greeting-title > h1 > span{
    color: red;
}